body
{
    background: #e3e3e3;
}

header
{
    text-align: center;
}

main
{
    display: flex;
    justify-content: space-between;
}

nav
{
    display: flex;
    flex-direction: column;
    background: #bdbdbd;
    flex-basis: 20%;
    align-items: stretch;
}

nav label
{
    text-align: center;
    font-size: 24px;
    border-bottom: 1px solid;
    padding: 10px 0;
}

nav label:hover
{
    background: grey;
    cursor: pointer;
}

#abyssinian:checked ~ nav > .abyssinian,
#british:checked ~ nav > .british,
#russian:checked ~ nav > .russian,
#siamese:checked ~ nav > .siamese
{
    background: grey;
}

#abyssinian:checked ~ section img,
#british:checked ~ section img,
#russian:checked ~ section img,
#siamese:checked ~ section img
{
    opacity: .4;
}

#abyssinian:checked ~ section > .abyssinian img,
#british:checked ~ section > .british img,
#russian:checked ~ section > .russian img,
#siamese:checked ~ section > .siamese img
{
    opacity: 1;
}

section
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 80%;
}

section div 
{
    position: relative;
}

section img
{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.one-column
{
    width: 32%;
}

.two-column
{
    width: 65%;
}

.three-column
{
    width: 98.5%;
}

.one-column,
.two-column,
.three-column
{
    height: 300px;
    margin: 0 3px 6px 3px;
}

.text
{
    display: none;
}

.one-column:hover .text,
.two-column:hover .text,
.three-column:hover .text
{
    display: block;
    padding: 10px;
    width: 70%;
    top: 220px;
    background: rgba(60, 60, 60, .5);
    color: white;
}

aside
{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    background: #bdbdbd;
    flex-basis: 25%;
    padding: 10px 15px;
}

aside h3
{
    font-size: 24px;
    text-transform: uppercase;
    color: red;
    margin: 0;
}

#sort:checked ~ .rating-four
{
    order: 4;
}

#sort:checked ~ .rating-eight
{
    order: 3;
}

#sort:checked ~ .rating-nine
{
    order: 2;
}

#sort:checked ~ .rating-ten
{
    order: 1;
}

.rating
{
    display: flex;
    justify-content: space-between;
}

.scale
{
    height: 15px;
    padding: 0;
}

.scale-four
{
    background: linear-gradient(to right, red, #fff);
    border: 1px solid red;
    width: 35%;
}

.scale-eight
{
    background: linear-gradient(to right, yellow, #fff);
    border: 1px solid yellow;
    width: 70%;
}

.scale-nine
{
    background: linear-gradient(to right, green, #fff);
    border: 1px solid green;
    width: 80%;
}

.scale-ten
{
    background: linear-gradient(to right, green, #fff);
    border: 1px solid grenn;
    width: 90%;
}

footer
{
    border-top: 1px solid;
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
    margin-top: 10px;
}

.adress
{
    color: blue;
}
