html
{
    height: 100%;
}

body
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    margin: 0;
    background: #ddd;
}

input[name='kinds']
{
    display: none;
}

#dog:checked ~ section :not(.dog),
#ufo:checked ~ section :not(.ufo),
#cat:checked ~ section :not(.cat),
#hamster:checked ~ section :not(.hamster)
{
    opacity: 0.5
}

nav
{
    align-self: stretch;
}
aside,
nav
{
    flex-grow: 1;
    background: #bbb;
}

ul
{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

ul li
{
    padding: 5%;
    border-bottom: 1px solid #777;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

nav ul li:hover
{
    background-color: #777;
    color: #bbb;
}

main
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

section
{
    padding: 5px;
    justify-content: space-between;
    flex-basis: 960px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    position: relative;
}

article
{
    position: relative;
    overflow: hidden;
}

.big
{
    flex-basis: 100%;
}

.normal
{
    flex-basis: 66%;
}

.small
{
    flex-basis: 33%;
}

img
{
    width: 100%;
    height: 350px;
}

.rating
{
    height: 20px;
    text-align: center;
    color: #fff;
}

.description
{
    display: none;
}

img:hover + .description
{
    display: block;
    position: absolute;
    background: #000;

    opacity: .5;
    color: #fff;
    bottom: 5px;
    z-index: 1;
}

div.perfect
{
    background: linear-gradient(to top, #078600, #0acf00);
    width: 100%;
}

div.good
{
    background: linear-gradient(to top, #fffd00, #a6a500);
    width: 75%;
}

div.bad
{
    background: linear-gradient(to top, #ff9f00, #a66800);
    width: 50%;
}

div.worst
{
    background: linear-gradient(to top, #ff0d00, #a60800);
    width: 25%;
}

#by-rating:checked ~ ul li.perfect
{
    order: 1;
}

#by-rating:checked ~ ul li.good
{
    order: 2;
}

#by-rating:checked ~ ul li.bad
{
    order: 3;
}

#by-rating:checked ~ ul li.worst
{
    order: 4;
}

header,
footer
{
    text-align: center;
    width: 100%;
}