.invisible
{
    display: none;
}
.wrapper
{
    background-color: #ebebeb;
    font-family: 'Helvetica', sans-serif;
    line-height: 1.3em;
}

.navigate
{
    background-color: #d9d9d9;
    width: 14%;
}

.navigate label
{
    text-align: center;
    width :100%;
    height: 100%;
    font-weight: bold;
}

.navigate div
{
    display: flex;
    background: #d9d9d9;
    height: 60px;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #acaaaa;
}

.navigate label:hover
{
    background: #727272;
    color: #fff;
}

#abyss:checked ~ section div div:not(.abyss)
{
    opacity: .2;
}

#british:checked ~ section div div:not(.british)
{
    opacity: .2;
}

#siamese:checked ~ section div div:not(.siamese)
{
    opacity: .2;
}

#russian:checked ~ section div div:not(.russian)
{
    opacity: .2;
}

#wild:checked ~ section div div:not(.wild)
{
    opacity: .2;
}

section
{
    width: 100%;
}

main
{
    display: flex;
    width: 100%;
}

img
{
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    background-color: #fff;
}

div.catImage
{
    display: flex;
    height: 300px;
    margin: 8px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.catImage:hover::before
{
    content: attr(data-title);
    margin-top: 100px;
    padding: 10px;
    position: absolute;
    background: rgba(71, 71, 71, .5);
    font-size: 1.2em;
    color: #fff;
}

.row1
{
    display: flex;
}

.row1 .firstCol
{
    width: 33%;
}

.row1 .secondCol
{
    width: 66%;
}

.row2
{
    display: flex;
}
.row2 .firstCol
{
    width: 33%;
}

.row2 .secondCol
{
    width: 33%;
}

.row2 .thirdCol
{
    width: 33%;
}
.row3
{
    display: flex;
}

.row3 .firstCol
{
    width: 66%;
}

.row3 .secondCol
{
    width: 33%;
}

.row4 .firstCol
{
    display: flex;
    width: 99.5%;
}

footer
{
    border-top: 1px solid #dfdfdf;
    margin-top: 25vh;
    height: 30px;
}

footer p.copyRight
{
    float: left;
    margin: 1px;
}

footer address
{
    float: right;
    margin: 1px;
    color: #364dab;
}

.rating
{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    background-color: #d9d9d9;
}

.rating .desc
{
    display: flex;
    flex-direction: row-reverse;
}

h3,
h1
{
    text-align: center;
}

.ratingGradient
{
    width: 90%;
    height: 20px;
    text-align: right;
}

.one .ratingGradient
{
    background: linear-gradient(to left, #fff, #008000);
}

.two .ratingGradient
{
    background: linear-gradient(to left, #fff, #fdff00);
}

.three .ratingGradient
{
    background: linear-gradient(to left, #fff, #f00);
}

.four .ratingGradient
{
    background: linear-gradient(to left, #fff, #0f0);
}

.five .ratingGradient
{
    background: linear-gradient(to left, #fff, #fdff00);
}

.six .ratingGradient
{
    background: linear-gradient(to left, #fff, #fdff00);
}

.seven .ratingGradient
{
    background: linear-gradient(to left, #fff, #008000);
}

.eight .ratingGradient
{
    background: linear-gradient(to left, #fff, #fdff00);
}

.nine .ratingGradient
{
    background: linear-gradient(to left, #fff, #00f);
}

#descending:checked ~ .one
{
    order: 9;
}

#descending:checked ~ .two
{
    order: 8;
}

#descending:checked ~ .three
{
    order: 7;
}

#descending:checked ~ .four
{
    order: 6;
}

#descending:checked ~ .five
{
    order: 5;
}

#descending:checked ~ .six
{
    order: 4;
}

#descending:checked ~ .seven
{
    order: 3;
}

#descending:checked ~ .eight
{
    order: 2;
}
#descending:checked ~ .nine
{
    order: 1;
}
