@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

html
{
    box-sizing: border-box;
    font-size: 62.5%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after
{
    box-sizing: inherit;
}

body
{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: normal;
    color: #000;
    margin: 0;
    padding: 0;
}

.page-wrapper
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 1300px;
    margin: 0 auto;
    background-color: #ebebeb;
}

.page-header
{
    text-align: center;
}

.page-header__title
{
    margin: 0;
    padding: 30px 0;
    font-size: 4.2rem;
    line-height: 1;
    font-weight: bold;
}

.page-main
{
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 28px [nav] 210px 15px [main] 1fr 15px [rside] 230px 28px;
    grid-template-rows: auto;
}

.page-main > input[name='cat-breed']
{
    display: none;
}

.navigation
{
    grid-column: nav;
    background-color: #d9d9d9;
}

.navigation__item
{
    display: block;
    font-size: 2rem;
    padding: 15px;
    box-shadow: 0 1px 0 0 #fff, 0 2px 0 0 #8d8a8a;
    cursor: pointer;
}

.navigation__item:hover
{
    background-color: #888;
}

input[id='bambino']:checked ~ .navigation > .navigation__item[for='bambino'],
input[id='reks']:checked ~ .navigation > .navigation__item[for='reks'],
input[id='scotish']:checked ~ .navigation > .navigation__item[for='scotish'],
input[id='kjorl']:checked ~ .navigation > .navigation__item[for='kjorl'],
input[id='savanna']:checked ~ .navigation > .navigation__item[for='savanna']
{
    background-color: #5a5a5a;
    color: #fff;
}

.photos
{
    grid-column: main;
    display: grid;
    grid-template-columns: [img1-start] 250px [img1-end] 12px [img2-start] 250px [img2-end] 12px [img3-start] 250px [img3-end];
    grid-template-rows: auto;
    margin-top: -12px;
}

.photo-card
{
    height: 250px;
    overflow: hidden;
    position: relative;
    margin-top: 12px;
}

.photo-card:nth-of-type(8n + 1),
.photo-card:nth-of-type(8n + 3)
{
    grid-column: img1-start;
}

.photo-card:nth-of-type(8n + 4)
{
    grid-column: img2-start;
}

.photo-card:nth-of-type(8n + 5),
.photo-card:nth-of-type(8n + 7)
{
    grid-column: img3-start;
}

.photo-card:nth-of-type(8n + 2)
{
    grid-column: img2-start / img3-end;
}

.photo-card:nth-of-type(8n + 6)
{
    grid-column: img1-start / img2-end;
}

.photo-card:nth-of-type(8n + 8)
{
    grid-column: img1-start / img3-end;
}

.photo-card:nth-of-type(8n + 2) > .photo-card__image
{
    position: relative;
    height: auto;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
}

.photo-card:nth-of-type(8n + 6) > .photo-card__image
{
    position: relative;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.photo-card:nth-of-type(8n + 8) > .photo-card__image
{
    position: relative;
    height: auto;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
}

.photo-card__info
{
    display: none;
    position: absolute;
    left: 0;
    bottom: 25px;
    font-size: 1.6rem;
    padding: 15px 10px;
    margin: 0;
    color: #fff;
    background-color: rgba(122, 122, 122, .7);
}

.photo-card:hover > .photo-card__info
{
    display: block;
}

.photo-card__image
{
    width: 100%;
    height: 100%;
}

#bambino:checked ~ .photos > .photo-card:not(.bambino),
#reks:checked ~ .photos > .photo-card:not(.reks),
#scotish:checked ~ .photos > .photo-card:not(.scotish),
#kjorl:checked ~ .photos > .photo-card:not(.kjorl),
#savanna:checked ~ .photos > .photo-card:not(.savanna)
{
    -webkit-filter: grayscale(1) opacity(.75) blur(2px);
    filter: grayscale(1) opacity(.75) blur(2px);
}

.rating
{
    grid-column: rside;
    align-self: start;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background-color: #d9d9d9;
    padding: 5px 15px 15px;
}

.rating__heading
{
    text-transform: uppercase;
    margin: 0;
    color: #db0606;
    font-size: 2.5rem;
    font-weight: normal;
}

.rating > label[for='desc']
{
    justify-self: end;
    margin-right: 20px;
    position: relative;
}

.rating > label[for='desc']::before
{
    content: '';
    position: absolute;
    right: -20px;
    top: 2px;
    width: 15px;
    height: 15px;
    border: 1px solid #666;
    border-radius: 2px;
    background: #eee;
}

.rating > label[for='desc']::after
{
    display: none;
    content: '';
    position: absolute;
    top: -1px;
    right: -27px;
    width: 20px;
    height: 8px;
    border-left: 3px solid #000;
    border-bottom: 3px solid #000;
    transform: rotate(-45deg);
}

.rating > input[name='rate']:checked + label[for='desc']::before
{
    background: linear-gradient(to bottom, #d1e9fc, #80c1f7);
}

.rating > input[name='rate']:checked + label[for='desc']::after
{
    display: block;
}

.rating > input[name='rate'],
.rating > input[name='breed-rating']
{
    display: none;
}

.breed
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.breed__name
{
    font-size: 2rem;
    margin: 10px 0;
}

.breed__rate
{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    z-index: 1;
}

.breed__rate-scale
{
    position: relative;
    height: 20px;
}

.breed__rate-val
{
    border: none;
    padding: 0;
    background-color: transparent;
    max-width: 50px;
    text-align: right;
    font-size: 1.8rem;
    font-weight: bold;
}

input[name='breed-rating'][value='10'] + .breed > .breed__rate > .breed__rate-scale,
input[name='breed-rating'][value='9'] + .breed > .breed__rate > .breed__rate-scale
{
    background: linear-gradient(to right, #01e86e, #fff);
}

input[name='breed-rating'][value='8'] + .breed > .breed__rate > .breed__rate-scale,
input[name='breed-rating'][value='7'] + .breed > .breed__rate > .breed__rate-scale,
input[name='breed-rating'][value='6'] + .breed > .breed__rate > .breed__rate-scale,
input[name='breed-rating'][value='5'] + .breed > .breed__rate > .breed__rate-scale
{
    background: linear-gradient(to right, #fff603, #fff);
}

input[name='breed-rating'][value='4'] + .breed > .breed__rate > .breed__rate-scale,
input[name='breed-rating'][value='3'] + .breed > .breed__rate > .breed__rate-scale,
input[name='breed-rating'][value='2'] + .breed > .breed__rate > .breed__rate-scale,
input[name='breed-rating'][value='1'] + .breed > .breed__rate > .breed__rate-scale
{
    background: linear-gradient(to right, #e80802, #fff);
}

input[name='breed-rating'][value='10'] + .breed > .breed__rate > .breed__rate-scale
{
    width: 150px;
}

input[name='breed-rating'][value='9'] + .breed > .breed__rate > .breed__rate-scale
{
    width: 140px;
}

input[name='breed-rating'][value='8'] + .breed > .breed__rate > .breed__rate-scale
{
    width: 130px;
}

input[name='breed-rating'][value='7'] + .breed > .breed__rate > .breed__rate-scale
{
    width: 120px;
}

input[name='breed-rating'][value='6'] + .breed > .breed__rate > .breed__rate-scale
{
    width: 110px;
}

input[name='breed-rating'][value='5'] + .breed > .breed__rate > .breed__rate-scale
{
    width: 100px;
}

input[name='breed-rating'][value='4'] + .breed > .breed__rate > .breed__rate-scale
{
    width: 90px;
}

input[name='breed-rating'][value='3'] + .breed > .breed__rate > .breed__rate-scale
{
    width: 80px;
}

input[name='breed-rating'][value='2'] + .breed > .breed__rate > .breed__rate-scale
{
    width: 70px;
}

input[name='breed-rating'][value='1'] + .breed > .breed__rate > .breed__rate-scale
{
    width: 60px;
}

input[name='breed-rating'][value='10'] + .breed > .breed__rate > .breed__rate-scale::before,
input[name='breed-rating'][value='9'] + .breed > .breed__rate > .breed__rate-scale::before,
input[name='breed-rating'][value='8'] + .breed > .breed__rate > .breed__rate-scale::before,
input[name='breed-rating'][value='7'] + .breed > .breed__rate > .breed__rate-scale::before,
input[name='breed-rating'][value='6'] + .breed > .breed__rate > .breed__rate-scale::before,
input[name='breed-rating'][value='5'] + .breed > .breed__rate > .breed__rate-scale::before,
input[name='breed-rating'][value='4'] + .breed > .breed__rate > .breed__rate-scale::before,
input[name='breed-rating'][value='3'] + .breed > .breed__rate > .breed__rate-scale::before,
input[name='breed-rating'][value='2'] + .breed > .breed__rate > .breed__rate-scale::before,
input[name='breed-rating'][value='1'] + .breed > .breed__rate > .breed__rate-scale::before
{
    content: '';
    position: absolute;
    bottom: -1px;
    top: -1px;
    left: -1px;
    right: -1px;
    z-index: -1;
}

input[name='breed-rating'][value='10'] + .breed > .breed__rate > .breed__rate-scale::before,
input[name='breed-rating'][value='9'] + .breed > .breed__rate > .breed__rate-scale::before
{
    background: linear-gradient(to right, #00b153, #c2c3c3);
}

input[name='breed-rating'][value='8'] + .breed > .breed__rate > .breed__rate-scale::before,
input[name='breed-rating'][value='7'] + .breed > .breed__rate > .breed__rate-scale::before,
input[name='breed-rating'][value='6'] + .breed > .breed__rate > .breed__rate-scale::before,
input[name='breed-rating'][value='5'] + .breed > .breed__rate > .breed__rate-scale::before
{
    background: linear-gradient(to right, #c3bc00, #c2c3c3);
}

input[name='breed-rating'][value='4'] + .breed > .breed__rate > .breed__rate-scale::before,
input[name='breed-rating'][value='3'] + .breed > .breed__rate > .breed__rate-scale::before,
input[name='breed-rating'][value='2'] + .breed > .breed__rate > .breed__rate-scale::before,
input[name='breed-rating'][value='1'] + .breed > .breed__rate > .breed__rate-scale::before
{
    background: linear-gradient(to right, #b10400, #c2c3c3);
}

#desc:checked ~ input[name='breed-rating'][value='10'] + .breed
{
    order: 1;
}

#desc:checked ~ input[name='breed-rating'][value='9'] + .breed
{
    order: 2;
}

#desc:checked ~ input[name='breed-rating'][value='8'] + .breed
{
    order: 3;
}

#desc:checked ~ input[name='breed-rating'][value='7'] + .breed
{
    order: 4;
}

#desc:checked ~ input[name='breed-rating'][value='6'] + .breed
{
    order: 5;
}

#desc:checked ~ input[name='breed-rating'][value='5'] + .breed
{
    order: 6;
}

#desc:checked ~ input[name='breed-rating'][value='4'] + .breed
{
    order: 7;
}

#desc:checked ~ input[name='breed-rating'][value='3'] + .breed
{
    order: 8;
}

#desc:checked ~ input[name='breed-rating'][value='2'] + .breed
{
    order: 9;
}

#desc:checked ~ input[name='breed-rating'][value='1'] + .breed
{
    order: 10;
}

.page-footer
{
    display: grid;
    grid-template-columns: 28px [copy] 1fr 15px [rside] 230px 28px;
    grid-template-rows: auto;
    align-items: center;
    margin-top: 15px;
    border-top: 1px solid #000;
}

.copyrights
{
    grid-column: copy;
}

.page-footer > address
{
    grid-column: rside;
}
