@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic);

.shop
{
    font-family: 'Open Sans', sans-serif;
    background: #e0e0e0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 150px auto 100px;
    max-width: 1300px;
    min-width: 1200px;
}

.shop2
{
    display: grid;
    grid-template-columns: 200px 750px 290px;
    grid-template-rows: auto;
    grid-column:1;
    grid-row: 2;
    font-size: 1.17rem;
}

header
{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    background: #e0e0e0;
    text-align: center;
}

h1
{
    padding: 20px;
    font-size: 3em;
}

.breeds
{
    grid-column:1;
    grid-row: 1;
    background: #c8c8c8;
    margin-left: 2%;
}

.main
{
    grid-column:2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 230px 230px 230px 230px;
    background: #e0e0e0;
}

.rating-lable
{
    position: relative;
}

.rating-lable label
{
    background-image: url(./notchecked.png);
    content: '';
    height: 15px;
    width: 15px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.si2
{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 4;
    margin-bottom: 0;
}

.ab1
{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;
    margin-top: 0;
}

.ab2
{
    grid-column: 2;
    grid-row: 2;
}

.br1
{
    grid-column:1;
    grid-row: 1;
    margin-top: 0;
}

.br2
{
    grid-column:1;
    grid-row: 2;
}

.rg1
{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3;
}

.rg2
{
    grid-column:3;
    grid-row: 3;
}

article
{
    opacity: 1;
    overflow: hidden;
    position: relative;
    margin: 10px;
}

article div
{
    background: rgba(192,192,192,.8);
    color: #fff;
    display: none;
    left: 0;
    padding: 13px;
    position: absolute;
    text-align: center;
    top: 60%;
    vertical-align: middle;
}

article:hover div
{
    display: block;
}

footer
{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3;
    padding: 15px;
    border-top: 1px solid #000;
}

img
{
    min-height: 100%;
    max-height: 130%;
    max-width: 130%;
    min-width: 100%;
}

.breed-lable
{
    border-bottom: 1px solid #000;
    display: block;
    height: 50px;
    padding: 10px;
}

input[class^='breed']
{
    display: none;
}

input:checked ~ div article
{
    opacity: .3;
}

menu
{
    color: red;
}

navigation
{
    background-color: #333;
}

input[class='breedAll']:checked ~ div [class^='cat'],
input[class='breed1']:checked ~ div [class^='cat ab'],
input[class='breed2']:checked ~ div [class^='cat br'],
input[class='breed3']:checked ~ div [class^='cat rg'],
input[class='breed4']:checked ~ div [class^='cat si']
{
    opacity: 1;
}

input[class='breedAll']:checked ~ div [for='breedAll'],
input[class='breed1']:checked ~ div [for='breed1'],
input[class='breed2']:checked ~ div [for='breed2'],
input[class='breed3']:checked ~ div [for='breed3'],
input[class='breed4']:checked ~ div [for='breed4']
{
    background: #666;
}

.rating
{
    grid-column:3;
    grid-row: 1;
    background: #c8c8c8;
    display: flex;
    padding: 10px;
    align-self: flex-start;
    flex-direction: column;
}

.one-rating
{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    margin-left: 10px;
    height: 100px;
    min-height: 100px;
    justify-content: space-between;
    align-items: flex-start;
}

h2
{
    margin: 5px;
    width: 100%;
}

span
{
    width: 100%;
}

.rating div div
{
    height: 20%;
    border: 1px solid #000;
}

.rating4
{
    width: 30%;
    background: linear-gradient(to right,  #f00 0, #fff 100%);
}

.rating7
{
    width: 50%;
    background: linear-gradient(to right,  #faff00 0, #fff 100%);
}

.rating10,
.rating8
{
    width: 70%;
    background: linear-gradient(to right,  #00990a 0, #fff 100%);
}

.rating10
{
    width: 80%;
}

input.desc-order:checked ~ [class='one-rating 8']
{
    order:1;
}

input.desc-order:checked ~ [class='one-rating 7']
{
    order:2;
}

input.desc-order:checked ~ [class='one-rating 4']
{
    order:3;
}

input.desc-order:checked ~ .rating-lable label
{
    background-image: url(./checked.png);
}

address
{
    color: #008ae6;
}

.breed-lable:hover
{
    background: #666;
}
