html,
body
{
    width: 100%;
    height: 100%;
    font-family: 'Helvetica', sans-serif;
    line-height: 1.3em;
    margin: 0;
    padding: 0;
    background: #e7e7e7;
}

header
{
    padding-top: 3%;
    padding-bottom: 1%;
}

header h1
{
    text-align: center;
    font-family: 'Scada', sans-serif;
    font-size: 50px;
}

main
{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% 10px;
    grid-template-rows: auto auto auto auto auto auto auto auto
        auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

label.breed
{
    padding: 10%;
    margin-right: 15px;
    padding-bottom: 1%;
    font-size: 1.3em;
    border-bottom: 2px ridge #fff;
}

label.breed:hover
{
    background: #727272;
    color: #fff;
}

.back,
div.six,
div.nine,
div.four,
.h3,
label
{
    background: #dbdbdb;
    padding-left: 5%;
}

input[name='breed']
{
    display: none;
}

label[for='europian']
{
    grid-area: 1 / 1 / 2 / 2;
}

label[for='british']
{
    grid-area: 2 / 1 / 3 / 2;
}

label[for='scotish']
{
    grid-area: 3 / 1 / 4 / 2;
}

.back
{
    grid-area: 4 / 1 / 25 / 2;
    margin-right: 15px;
    margin-bottom: -60px;
}

img
{
    height: 320px;
    width: 95%;
    position: relative;
}

main .cat
{
    height: 340px;
}

#cat1
{
    grid-area: 1 / 2 / 6 / 3;
}

#cat2
{
    grid-area: 1 / 3 / 6 / 5;
    margin-right: -10px;

}

#cat3
{
    grid-area: 6 / 2 / 11 / 3;
}

#cat4
{
    grid-area: 6 / 3 / 11 / 4;
}

#cat5
{
    grid-area: 6 / 4 / 11 / 5;
}

#cat6
{
    grid-area: 11 / 2 / 16 / 4;
    margin-right: -15px;
}

#cat7
{
    grid-area: 11 / 4 / 16 / 5;
}

#cat8
{
    grid-area: 16 / 2 / 25 / 5;
    margin-right: -30px;
}

#cat8 img
{
    height: 400px;
}

.h3
{
    grid-area: 1 / 5 / 2 / 7;
}

label
{
    grid-area: 2 / 5 / 3 / 6;
    z-index: 10;
}

input[name='descending']
{
    grid-area: 2 / 6 / 3 / 7;
    margin-left: -1700%;
    z-index: 100;
}

div.six
{
    grid-area: 3 / 5 / 4 / 7;
    display: inline;
}

div.nine
{
    grid-area: 4 / 5 / 5 / 7;
    display: inline;
}

div.four
{
    grid-area: 5 / 5 / 6 / 7;
    display: inline;
}

.numberRating
{
    display: inline;
    float: right;
    width: 10%;
    margin-top: -7%;
}

.ratingGradient
{
    width: 80%;
    background: linear-gradient(to left, #fff, #008000);
    z-index: 2;
    height: 20px;
}

.six .ratingGradient
{
    background: linear-gradient(to left, #fff, #fdff00);
}

.four .ratingGradient
{
    background: linear-gradient(to left, #fff, #f00);
}

label[for='descending'],
#descending
{
    float: right;
}

.cat:hover::after
{
    content: attr(data-title);
    background: rgba(71, 71, 71, .5);
    position: absolute;
    padding: 20px 13px;
    margin-top: -100px;
    font-size: 1.5em;
    color: #fff;
    z-index: 4;
}

input[name='descending']:checked ~ .nine
{
    grid-area: 3 / 5 / 4 / 7;
}

input[name='descending']:checked ~ .six
{
    grid-area: 4 / 5 / 5 / 7;
}

input[name='descending']:checked ~ .four
{
    grid-area: 5 / 5 / 6 / 7;
}

input[value='scotish']:checked ~ main div.cat:not(.scotish),
input[value='british']:checked ~ main div.cat:not(.british),
input[value='europian']:checked ~ main div.cat:not(.europian)
{
    opacity: .5;
}

input[value='scotish']:checked ~ main div.cat.scotish,
input[value='british']:checked ~ main div.cat.british,
input[value='europian']:checked ~ main div.cat.europian
{
    opacity: 1;
}

footer
{
    margin-top: 5%;
    vertical-align: bottom;
    height: 30px;
    border-top: 2px ridge #fff;
    padding: 2%;
}

footer div:first-child
{
    float: left;
}

footer address
{
    float: right;
    color: #109;
}
