@import url(https://fonts.googleapis.com/css?family=Bad+Script|Neucha&subset=cyrillic);

body
{
    background: #ddd;
    font-family: 'Bad Script', cursive;
    min-width: 1000px;
}

header
{
    text-align: center;
    min-height: 80px;
}

main
{
    display: flex;
    justify-content: space-around;
}

ul
{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-left: -40px;
}

li
{
    text-align: center;
    border-bottom: 1px solid black;
    padding: 10px;
    width: 100%;
}

.left-column
{
    /*display: flex;
    flex-direction: column;*/
    flex-basis: 12%;
    background: rgba(171, 171, 171, .5);
    padding: 0 5px 5px;
    display: grid;
    grid-template-rows: 30px 30px 30px 30px 30px 30px;
    overflow: hidden;
}

.middle-column
{
    /*display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;*/
    flex-basis: 67%;
    margin: 3px;
    display: grid;
    grid-template-columns: 10px 1fr 10px 1fr 10px 1fr 10px;
    grid-template-rows: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
}

.right-column
{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    flex-basis: 17%;
    background: rgba(171, 171, 171, .5);
    margin: 3px;
    padding: 0 5px 5px;
}

.left-column div
{
    padding: 15px 10px;
    text-align: center;
    border-bottom: 1px solid black;
}

.right-column div
{
    margin: 3px;
}

.middle-column article
{
    margin: 4px;
    height: 220px;
    overflow: hidden;
    /* если убрать правильно работает flex*/
    width: 100%;
}

.size-s
{
    width: 32%;
}

.size-l
{
    width: 65.6%;
}

.size-m
{
    width: 32.3%;
}

.size-xl
{
    width: 100%;
}

img
{
    width: 100%;
    min-height: 100%;
    max-height: 110%;
}

article:hover .details-about-cat
{
    position: relative;
    top: -35%;
    left: 2%;
    width: 60%;
    background: rgba(58, 58, 58, .7);
    border-radius: 10px;
    padding: 3px;
    color: #fff;
}

.invisible
{
    display: none;
}

[id='abyssinian']:checked ~ .middle-column .abyssinian,
[id='britain']:checked ~ .middle-column .britain,
[id='russian']:checked ~ .middle-column .russian,
[id='siamese']:checked ~ .middle-column .siamese,
[id='siberian']:checked ~ .middle-column .siberian
{
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, .5);
}

[id='all']:checked ~ .left-column .all,
[id='abyssinian']:checked ~ .left-column .abyssinian,
[id='britain']:checked ~ .left-column .britain,
[id='russian']:checked ~ .left-column .russian,
[id='siamese']:checked ~ .left-column .siamese,
[id='siberian']:checked ~ .left-column .siberian
{
    text-shadow: 0 0 10px rgba(0, 0, 0, .7);
}

.all:hover,
.abyssinian:hover,
.britain:hover,
.russian:hover,
.siamese:hover,
.siberian:hover
{
    color: #fff;
}

div.scale
{
    height: 15px;
    padding: 0;
}

div.rating
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rating .breed
{
    width: 100%;
}

.scale-seven
{
    background: linear-gradient(to right, #ff0, #fff);
    border: 1px solid #ff0;
    width: 60%;
    margin: 1px 0;
}

.scale-nine
{
    background: linear-gradient(to right, #039, #fff);
    border: 1px solid #039;
    width: 75%;
}

.scale-four
{
    background: linear-gradient(to right, #f00, #fff);
    border: 1px solid #f00;
    width: 30%;
}

.scale-ten
{
    background: linear-gradient(to right, #3c0, #fff);
    border: 1px solid #3c0;
    width: 85%;
}

input.rating:checked ~ .rating-ten
{
    order: 1;
}

input.rating:checked ~ .rating-nine
{
    order: 2;
}

input.rating:checked ~ .rating-seven
{
    order: 3;
}

input.rating:checked ~ .rating-four
{
    order: 4;
}

footer
{
    /*display: flex;
    justify-content: space-between;*/
    font-size: 20px;
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 250px;
}

.address
{
    height: 30px;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    display: grid;
    grid-template-columns: 1fr 150px;
}

.grandma
{
    grid-area: 1 / 1 / 2 / 2;
}

.address
{
    grid-area: 1 / 2 / 2 / 3;
}

.address span
{
    grid-area: 1 / 1 / 2 / 2;
}

.address address
{
    grid-area: 1 / 2 / 2 / 3;
}

.cat-1
{
    grid-area: 1 / 2 / 2 / 3;
}

.cat-2
{
    grid-area: 1 / 4 / 2 / 7;

}

.cat-3
{
    grid-area: 3 / 2 / 4 / 3;
}

.cat-4
{
    grid-area: 3 / 4 / 4 / 5;
}

.cat-5
{
    grid-area: 3 / 6 / 4 / 7;
}

.cat-5 img
{
    min-width: 180%;
}

.cat-6
{
    grid-area: 5 / 2 / 6 / 5;
}

.cat-7
{
    grid-area: 5 / 6 / 6 / 7;
}

.cat-8
{
    grid-area: 7 / 2 / 8 / 7;
}

.cat-9
{
    grid-area: 9 / 2 / 10 / 3;
}

.cat-10
{
    grid-area: 9 / 4 / 10 / 7;
}
