h1
{
    text-align: center;
    font-size: 60px;
}

body
{
    background-color: #eee;
}

section
{
    display: flex;
    margin: 0 4%;
}

.nav-wrapper,
.aside-raiting
{
    flex-basis: 17%;
    background-color: #e1e1e1;
    min-width: 200px;
}

.nav-breed
{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    height: 300px;
}

.nav-breed label
{
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #000;
    text-align: center;
    font-size: 26px;
}

.nav-breed label:hover
{
    background-color: rgba(0, 0, 0, .2);
}

.hidden-radio
{
    display: none;
}

#abyssinian:checked ~ .content .row > *,
#british:checked ~ .content .row > *,
#russian-blue:checked ~ .content .row > *,
#siamese:checked ~ .content .row > *
{
    opacity: .5;
}

#abyssinian:checked ~ .content .abyssinian,
#british:checked ~ .content .british,
#russian-blue:checked ~ .content .russian-blue,
#siamese:checked ~ .content .siamese,
#all:checked ~ .content > .row > *
{
    opacity: 1;
}

.content
{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    min-width: 900px;
}

.row
{
    display: flex;
    justify-content: space-between;
}

.img-wrapper
{
    flex-basis: 32%;
    position: relative;
}

.img-description
{
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, .3);
    padding: 20px;
    font-size: 30px;
    bottom: 10px;
    color: #fff;
    z-index: 2;
}

.img-wrapper:hover .img-description
{
    display: block;
}

.long
{
    flex-basis: 66%;
}

.big
{
    flex-basis: 100%;
}

img
{
    width: 100%;
    height: 300px;
}

.aside-raiting
{
    height: 100%;
}

.aside-raiting p,
.aside-raiting label,
.aside-raiting .raiting-breed-name
{
    font-size: 22px;
}

.aside-raiting label
{
    margin-left: 20%;
}

.aside-raiting > p
{
    color: #f00;
    margin-left: 4%;
}

.raiting-wrapper
{
    display: flex;
    flex-direction: column;
    margin: 0 4%;
}

.raiting
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.raiting-nine
{
    width: 85%;
    height: 20px;
    background: linear-gradient(to right, #0c0, #fff);
    border: 1px solid #0c0;
}

.raiting-ten
{
    width: 100%;
    height: 20px;
    background: linear-gradient(to right, #0c0, #fff);
    border: 1px solid #0c0;
}

.raiting-eight
{
    width: 80%;
    height: 20px;
    background: linear-gradient(to right, #ff0, #fff);
    border: 1px solid #ff0;
}

.raiting-four
{
    width: 40%;
    height: 20px;
    background: linear-gradient(to right, #f00, #fff);
    border: 1px solid #f00;
}

#raiting-sort:checked ~ .raiting-wrapper .raiting-abyssinian
{
    order: 2;
}

#raiting-sort:checked ~ .raiting-wrapper .raiting-british
{
    order: 3;
}

#raiting-sort:checked ~ .raiting-wrapper .raiting-russian-blue
{
    order: 1;
}

#raiting-sort:checked ~ .raiting-wrapper .raiting-siamese
{
    order: 4;
}

footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #000;
    margin-top: 1%;
}

footer p,
address
{
    font-size: 24px;
    margin-left: 4%;
    margin-right: 4%;
}

address
{
    color: #00f;
    font-style: normal;
}
