body
{
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #e6e6e6;
}

input
{
    display: none;
}

.grid
{
    display: grid;
    grid-template-columns: 2% 17.6% 2% 17.6% 2% 17.6% 2% 17.6% 2% 17.6% 2%;
    grid-template-rows: auto auto auto auto auto auto 35px auto 35px auto 35px auto 50px auto;
}

.header
{
    grid-column: 1 / 12;
    grid-row: 1 / 2;
    text-align: center;
    font-size: 20px;
}

.breeds
{
    grid-column: 2 / 3;
    grid-row: 2 / 13;
    background-color: #ccc;
}

.breeds > label
{
    font-size: 25px;
    display: block;
    padding: 20px 20px;
    border-bottom: 1px solid #000;
}

.breeds > label:hover
{
    background-color: #b3b3b3;
}

.breeds > .all
{
    border-bottom: 0;
}

.breeds > .all:hover
{
    background-color: #ccc;
}

img
{
    width: 100%;
}

.first
{
    grid-column: 4 / 5;
    grid-row: 2 / 7;
}

.sec
{
    grid-column: 6 / 9;
    grid-row: 2 / 7;
}

.third
{
    grid-column: 4 / 5;
    grid-row: 8 / 9;
}

.fourth
{
    grid-column: 6 / 7;
    grid-row: 8 / 9;
}

.fifth
{
    grid-column: 8 / 9;
    grid-row: 8 / 9;
}

.sixth
{
    grid-column: 4 / 7;
    grid-row: 10 / 11;
}

.seventh
{
    grid-column: 8 / 9;
    grid-row: 10 / 11;
}

.eighth
{
    grid-column: 4 / 9;
    grid-row: 12 / 13;
}

.empty
{
    grid-column: 1 / 12;
    grid-row: 13 / 14;
    border-bottom: 1px solid #000;
}

.organization
{
    grid-column: 2 / 5;
    grid-row: 14 / 15;
}

.address
{
    grid-column: 8 / 11;
    grid-row: 14 / 15;
    text-align: right;
}

.raiting
{
    grid-column: 10 / 11;
    grid-row: 2 / 3;
    background-color: #ccc;
}

.abisR
{
    grid-column: 10 / 11;
    grid-row: 3 / 4;
    background-color: #ccc;
}

.britR
{
    grid-column: 10 / 11;
    grid-row: 4 / 5;
    background-color: #ccc;
}

.russR
{
    grid-column: 10 / 11;
    grid-row: 5 / 6;
    background-color: #ccc;
}

.siamR
{
    grid-column: 10 / 11;
    grid-row: 6 / 7;
    background-color: #ccc;
}

.photo
{
    overflow: hidden;
    position: relative;
    background-color: #fff;
}

.description
{
    background-color: rgba(0, 0, 0, .3);
    padding: 20px;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    color: #fff;
    display: none;
}

.photo:hover > .description
{
    display: block;
}

.raiting > *
{
    padding: 0;
    margin: 0;
}

.labels
{
    text-align: right;
    padding-right: 15px;
    font-size: 20px;
}

.descLabel
{
    border-radius: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: 5px;
}

.raiting > p
{
    text-transform: uppercase;
    color: #f00;
    font-size: 30px;
}

.name
{
    padding: 10px 15px;
    display: block;
    font-size: 20px;
}

.rait
{
    margin-top: 5px;
    margin-left: 15px;
    display: inline-block;
}

.nine,
.ten
{
    width: 150px;
    height: 25px;
    background: linear-gradient(to right, #3cd91d, #fff);
    border: 1px solid #3cd91d;
}

.eight
{
    width: 120px;
    height: 25px;
    background: linear-gradient(to right, #fc0, #fff);
    border: 1px solid #fc0;
}

.four
{
    width: 60px;
    height: 25px;
    background: linear-gradient(to right, #f00, #fff);
    border: 1px solid #f00;
}

.res
{
    font-weight: bold;
    float: right;
    font-size: 20px;
    margin-right: 15px;
    margin-top: 5px;
}

p
{
    padding: 0 40px;
    font-size: 20px;
}

.address
{
    color: #1d55d9;
}

#abis:checked ~ .grid > .photo
{
    opacity: .4;
}

#abis:checked ~ .grid > .abis
{
    opacity: 1;
}

#brit:checked ~ .grid > .photo
{
    opacity: .4;
}

#brit:checked ~ .grid > .brit
{
    opacity: 1;
}

#russ:checked ~ .grid > .photo
{
    opacity: .4;
}

#russ:checked ~ .grid > .russ
{
    opacity: 1;
}

#siam:checked ~ .grid > .photo
{
    opacity: .4;
}

#siam:checked ~ .grid > .siam
{
    opacity: 1;
}

#desc:checked ~ .grid > .abisR
{
    grid-column: 10 / 11;
    grid-row: 4 / 5;
}

#desc:checked ~ .grid > .britR
{
    grid-column: 10 / 11;
    grid-row: 5 / 6;
}

#desc:checked ~ .grid > .russR
{
    grid-column: 10 / 11;
    grid-row: 3 / 4;
}
#desc:checked ~ .grid > .div > .labels > .descLabel,
.descLabel:hover
{
    background-color: #afdafc;
}
