body
{
    background-color: #b5b8b1;
    display: flex;
}
.images
{
    background-color: #808080;
    height: 300px;
}
.cat_breed
{
    white-space: nowrap;
    background-color: #808080;
    display: block;
    float: left;
}
.rating
{
    background-color: #808080;
    float: right;
}
.description
{
    display: none;
}
.images:hover ~ .description:nth-child(1)
{
    display: block;
}
input[class='abcat']:checked ~ .abcatimg
{
    opacity: 0.5;
}